body {
    font-family: 'Roboto', sans-serif;
}

p {
    font-weight: bold;
}

.success {
    color: white;
    background-color: green;
    width: 500px;
    border-radius: 5px;
    padding-left: 7px;
    border: 1px solid lightgreen;
    padding: 5px;
}

.danger {
    color: white;
    background-color: coral; 
    padding-left: 10px;
    width: 210px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid red;
}

button.no_padding {
    display: inline;
    margin-left: 10px;
    padding: 2px;
    font-size: 10px;
    color: white;
    background-color: coral;
    border: 1px solid red;
    border-radius: 5px;
 }

button {
    display: inline;
    margin-right: 10px;
    padding: 5px;
    background-color: aquamarine;
    border: 1px solid lightblue;
    border-radius: 5px;
}
 a {
    text-decoration: none; 
    color: black;
 }

 li {
     list-style-type: none;
     margin-bottom: 5px;
 }

 .title {
     font-weight: bold;
 }

 .post {
     border: 1px solid black;
     width: 300px;
     border-radius: 5px;
     padding: 10px;
     font-style: italic;
     margin-bottom: 30px;
 }

 .inline {
     display: inline;
     margin-right: 10px;
 }

 .space {
     margin-bottom: 5px;
 }

