{% extends'base.html' %}

{% block title %}All Users{% endblock %}

{% block content %} 
<div>
	<h1>List Of All Posts</h1>

	<ul>
        {% for post in posts %}
		<li class="space">
            <b>{{post.username}}:</b> <i>{{ post.title }}</i>
            {% if session['username'] == post.username %}
            <form class="inline" action="/feedback/{{post.id}}/delete" method="POST">
                <button class="no_padding" type="submit">Delete</button>
            </form>
            {% endif %}
        </li>
		{% endfor %}
	</ul> 
</div> 

<button><a href="/users/all">Back To Users</a></button>



{% endblock %}