{% extends 'base.html'%}

{%block title%}Login Form{%endblock%}

{%block content%} 
 
	<h1>Log In</h1>

    <form action="/login" method="POST">
        {{ form.hidden_tag() }}

        {% for field in form
            if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field }}

            {% for error in field.errors %}
            <span class="danger">{{ error }}</span>            
            {% endfor %}
        </p>
        {% endfor %}
        <button type="submit">Log In</button>
        <button><a href="/register">Register</a></button>
    </form>

   

    

	
{%endblock%}