{% extends 'base.html'%}

{%block title%}Registration Form{%endblock%}

{%block content%} 
 
	<h1>Register Here!</h1>

    <form action="/register" method="POST">
        {{ form.hidden_tag() }}

        {% for field in form
            if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}<br>
            {{ field }}

            {% for error in field.errors %}
            <span class="danger">{{ error }}</span>  
            {% endfor %}
        </p>
        {% endfor %}
        <button type="submit">Register</button>
        <button><a href="/login">Log In</a></button>
    </form>

	
{%endblock%}