{% extends'base.html' %}

{% block title %}User{% endblock %}

{% block content %} 
<div>
	<h1>{{ user.first_name }} {{user.last_name}}'s Details</h1>

	<ul>
		<li><b>Username:</b> <i>{{ user.username }}</i></li>
		<li><b>Name:</b> <i>{{ user.first_name }} {{ user.last_name }}</i></li>
		<li><b>Email: </b><i>{{ user.email }}</i></li>
	</ul> 
</div> 

<div>
	<h2 class="inline">Posts</h2>
	{% if session['username'] == user.username %}	
	<form class="inline" action="/users/{{ user.username }}/feedback/add" method="GET">
		<button class="no_padding" type="submit">Add New post</button>				
	</form>	
	{% endif %}
	<ul>

        {% for post in posts %}
        <li class="title space">
			Title: {{ post.title }}
			{% if session['username'] == post.username %}
			<form class="inline" action="/feedback/{{post.id}}/update" method="GET">
				<button class="no_padding" type="submit">Edit</button>				
			</form>			
			{% endif %}
			{% if session['username'] == post.username %}
            <form class="inline" action="/feedback/{{post.id}}/delete" method="POST">
                <button class="no_margin" type="submit">Delete</button>
            </form>
			{% endif %}
		</li>
		<li class="post">{{ post.content }}</li>
        {% endfor %}
    
    </ul>	
</div>
<form action="/logout" method="POST">
	<button type="submit">Log Out</button>
	<button><a href="/users/all">Go Back</a></button>
</form>
	
{% endblock %}